/db/mongo/data/**
/db/mysql/data/**
/coreapp-node/node_modules/**
/coreapp-react/node_modules/**
/comment-service/node_modules/**
/attribute-service/node_modules/**
/review-service/node_modules/**
/.idea/**
/.env
